.App {
  text-align: center;
  justify-content: center;
  color: #fc3c44;
  background-color: black;
}

.playlistName {
  color: white;
}

.userName {
  margin-bottom: 0px;
}

.updated {
  color: darkgray;
  font-size: small;
  margin-top: 0px;
}

.playButton {
  color: #fc3c44;
  background-color: rgb(34, 34, 34);
  font-size: medium;
  font-weight: bold;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background:url('./public/icons/play.png') no-repeat left center;
}

.shuffleButton {
  color: #fc3c44;
  background-color: rgb(34, 34, 34);
  font-size: medium;
  font-weight: bold;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-left: 25px;
}

.song {
  text-align: left;
  margin-top: 25px;
  margin-left: 25px;
}

.wrapper {
  text-align: center;
  
}

.centered {
  display: inline-block;
  position: relative;
}

.left {
  position: absolute;
  right: 100%;
  width: 100px;
  top: 0;
}

.hr {
  color: darkgray;
}